input {
    height: 100%;
    width: 100%;
}

body {
    background-color: whitesmoke;
    margin: 0; 
}

.container-fluid {
    margin: 0;
    padding: 0;
    position: relative; 
    width: 100%; 
}

.header {
    align-items: center;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-around;
    min-height: 75px;
    position: fixed;
    top: 0;
    width: 100%;
}

.header-img {
    height: 100px;
    margin-right: 100px; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header-text {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    margin-left: 300px;
}

.header-text a {
    color: black;
    text-decoration: none;
}

li {
    font-size: 20px;
    margin: 25px;
}

.welcome-text {
    align-items: center;
    display: flex;
    flex-direction: column;
    
    text-align: center;
}

.company-name {
    font-size: 60px;
    margin-top: 150px;
}

.slogan {
    font-size: 35px;
    line-height: 75px;
}

.customer-email {
    line-height: 40px;
}

.email {
    min-width: 75px;
    padding: 8px;
    text-align: center;
}

.submit {
    background-color: blueviolet;
    border-radius: 15px;
    color: whitesmoke;
    margin-left: 15px;
    width: 100px;
}

.grid {
    text-align: center;
    margin: 50px;
}

#pricing {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px;
}

.bidet-attachment {
    align-items: center;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: calc(100%/3);
}

.buy {
    background-color: blueviolet;
    border-radius: 15px;
    color: whitesmoke;
    height: 40px;
    margin: 20px;
    width: 100px;
}

.better-bidet {
    align-items: center;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: calc(100%/3);
}

.best-bidet {
    align-items: center;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: calc(100%/3); 
}